@let todos = store.filteredTodos();

<main class="content">
  <section class="todolist">
    <header class="todolist__header">todo list</header>

    <input
      class="todolist__input"
      placeholder="input your todo here..."
      (keyup.enter)="addTodo()"
      [(ngModel)]="title"
    />
    @if (!store.loading()) {
    <ul id="todolist_containter">
      @for (todo of todos; track $index) {
      <app-todo-item
        [todo]="todo"
        (idemiter)="deleteTodo($event)"
        (toggleComplete)="updateComplete($event)"
      />
      }
    </ul>
    } @else {
    <h3>Loading...</h3>
    }
    <div>
      <button (click)="filterTodo('all')">all</button>
      <button (click)="filterTodo('pending')">pending</button>
      <button (click)="filterTodo('completed')">completed</button>
    </div>
  </section>
</main>
